[submodule "occ/external/googletest"]
	path = occ/external/googletest
	url = https://github.com/google/googletest.git
[submodule "occ/external/find_steam_game"]
	path = occ/external/find_steam_game
	url = https://github.com/cxong/find_steam_game.git
[submodule "occ/external/AHEasing"]
	path = occ/external/AHEasing
	url = https://github.com/warrenm/AHEasing.git
[submodule "occ/external/unlzexe"]
	path = occ/external/unlzexe
	url = https://github.com/cxong/unlzexe.git
