debug/
release/
eclipse/
.DS_Store
.vs/
*.vcxproj*
*.sln
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
CTestTestfile.cmake
*.xcodeproj/
generated/
.idea/

# Linux
Makefile
*_test
*.a
CPack*Config.*
Testing/

# Windows
build/*.dll
build/*.exe
build/*.pdb

# macOS
occ/build/
build/*_viewer
build/sound_player
build/occ
