debug/
release/
eclipse/
.DS_Store
.vs/
*.vcxproj*
*.sln
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
CTestTestfile.cmake
*.xcodeproj/
build/
generated/
.idea/

# Linux
Makefile
*_test
*.a
CPack*Config.*
